@{
    ViewBag.Title = "UserManage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<NilexTicket.DB.User>
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">User Management</h1>
            <a href="~/Admin/UserCreate" class="btn btn-info" style="margin-bottom:2px">Create New User</a>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="text-danger">
                Please be careful while the user is deleted, all data will be deleted!
            </span>
            <hr>
            <div class="alert alert-danger" id="Message" hidden></div>
            <br />
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"><a style="cursor:pointer">User ID</a></th>
                            <th scope="col"><a style="cursor:pointer">Fullname</a></th>
                            <th scope="col"><a style="cursor:pointer">Username</a></th>
                            <th scope="col"><a style="cursor:pointer">Email</a></th>
                            <th scope="col"><a style="cursor:pointer">Operation</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var kul in Model)
                        {
                            <tr id="tr-@kul.ID">
                                <td>@kul.ID</td>
                                <td>@kul.FullName</td>
                                <td><strong> @kul.Username </strong></td>
                                <td>@kul.Mail</td>
                                <td>
                                    <a href="~/Admin/UserEdit/@kul.ID" class="btn btn-xs btn-info" style="margin-bottom:2px">Edit</a>
                                    <input type="button" value="Delete" onclick="userDelete(@kul.ID)" class="btn btn-xs btn-danger">
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function userDelete(id) {

        swal({
                title: "Are you sure?",
                text: "Once deleted, check user tickets!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    $("#overlay").fadeIn(300);
                    $.ajax({
                        type: 'POST',
                        url: '/Admin/userDelete?id=' + id,
                        success: function (result) {
                            if (result.IsSuccess) {
                                $("#tr-" + id).fadeOut().remove();
                            }
                            else {
                                //$("#Message").fadeIn("fast").html(result.Message);
                                showSuccessMessage(result.Message);
                                setTimeout(function () {
                                    $("#Message").slideUp("fast")
                                }, 5000);
                            }
                            $("#overlay").fadeOut(300);
                        },
                        error: function(){
                            //$("#Message").fadeIn("fast").html("An unknown error has occurred");
                            showErrorMessage("An unknown error has occurred");
                            setTimeout(function () {
                                $("#Message").slideUp("fast")
                            }, 5000);
                            $("#overlay").fadeOut(300);
                        }
                    });
                }  
            });



        
    }
</script>