
@using NilexTicket.Util
@model NilexTicket.ModelView.UserViewModel
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

    string upass = DESEncrypt.Decrypt(Model.Password);
}
<div id="page-inner">
    <div class="row">
        <div class="col-md-9">
            <h1 class="page-head-line">Account Setting</h1>
            <div id="mesage" class="alert alert-info" style="margin-top:10px" hidden>
                Update successful
            </div>
            @using (Ajax.BeginForm("Settings", "User", FormMethod.Post, new AjaxOptions { OnSuccess = "success", OnFailure = "fail" }, new { enctype = "multipart/form-data", id="registerform" }))
            {
                @Html.LabelFor(x => x.FullName)
                @Html.TextBoxFor(x => x.FullName, new { @class = "form-control"})
                @Html.ValidationMessageFor(x => x.FullName, "", new { @class = "text-danger" })    <br />
                @Html.LabelFor(x => x.Username)
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(x => x.Username, "", new { @class = "text-danger",})    <br />
                @Html.LabelFor(x => x.Password)
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @Value = @upass })
                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger"})    <br />
                @Html.LabelFor(x => x.Mail)
                @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(x => x.Mail, "", new { @class = "text-danger" })    <br />
                <br />
                <input type="submit" id="btnUpdate" class="btn btn-primary" value="Güncelle" />
            }
        </div>
    </div>
</div>

<script src="~/Content/js/jquery.validate.min.js"></script>
<script src="~/Content/js/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Content/js/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Content/js/setAccount.js"></script>